@model IEnumerable<Proyecto_prueba.Models.Proveedore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProveedorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProveedorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProveedorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
